[data-theme='dark'] {
  --main: #4793FF;
  --textLight: #FFFFFF;
  --textDark: #939CB0;
  --backgroundLight: #4F4F4F;
  --backgroundMedium: #2E3035;
  --backgroundDark: #1c1c1d;
  --shadow: #B4B4B440;
  --commonBackgroundLight: #FFFFFF;
  --inputBackground: #4F4F4F;
}


[data-theme='light'] {
  --main: #4793FF;
  --textLight: #000000;
  --textDark: #939CB0;
  --backgroundLight: #FFFFFF;
  --backgroundMedium: #4793FF33;
  --backgroundDark: #FFFFFF;
  --shadow: #B4B4B440;
  --commonBackgroundLight: #FFFFFF;
  --inputBackground: #4793FF33;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: "Montserrat",
    sans-serif;
  color: var(--textLight);
  background-color: var(--backgroundDark);
}